.buttons-container {
  .bottom-buttons {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    .btn {
      width: 128px;
      height: 48px;
      display: flex;
      gap: 8px;
      justify-content: center;
      align-items: center;
    }
  }
}
