.App {
  text-align: center;
  background-color: var(--primary-grey-color);
  color: var(--primary-white-color);
  min-height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div {
    margin: 0;
  }
}
